<%- include('./layouts/header.ejs') %>    
<%- include('./layouts/navbar.ejs') %>  
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h1><%= pergunta.titulo %></h1>

        </div>

        <div class="card-body">
            <p><%= pergunta.descricao %></p>

            <form action="/resposta" method="POST">
                <input type="hidden" name="perguntaid" value="<%= pergunta.id %>">
                <label for="resposta">Resposta</label>
                <textarea name="resposta" id="resposta" cols="30" rows="3" class="form-control"></textarea>
                <br>
                <button class="btn btn-primary">Responder</button>
            </form>
        </div>
    </div>
    <hr>
    <h3>Respostas</h3>
    <ul>
        <% respostas.forEach(element => { %>
            <li><%= element.resposta %></li>
        <% }); %>
    </ul>

    
</div>
<%- include('./layouts/footer.ejs') %>  