<%- include ('../../layouts/header') %>
<%- include ('../../layouts/navbar') %>

<div class="container">

    <div class="container">
        <hr>
    
        <h2>Categorias</h2>
        <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria</a>
    
        <hr>
        
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Título</td>
                    <td>Slug</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category => { %>
                    <tr>
                        <td><%= category.id %></td>
                        <td><%= category.title %></td>
                        <td><%= category.slug %></td>
                        <td>
                            <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>
                            <a href="/categories/delete/<%= category.id %>" class="btn btn-danger" onclick="confirmarDelete(this)">Deletar</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
   
</div>
<script>
    function confirmarDelete(value) {
        let ret = confirm('Deseja excluir?')
        if(ret) {
            let id = value
        }
    }
</script>
<%- include ('../../layouts/footer') %>